.accordion {
  margin: 2px;
  font-size: 16px;

  &.active {
    background-color: #E5F7F9;
    transition: all .3s ease-in-out;
  }

  &__item {
    padding: 10px;

    &-header {
      font-weight: 700;
      display: flex;
      align-items: center;
      padding: 4px;
      cursor: pointer;
      font-weight: bold;

      i {
        transition: all 0.3s ease-in-out;

        &.fa-plus {
          transform: rotate(0deg);
        }

        &.fa-minus {
          transform: rotate(180deg);
        }
      }

      .title {
        margin-left: 12px;
      }
    }

    &-content {
      margin-left: 24px;
      padding: 4px;
      font-weight: 200;
    }
  }
}